.wrapper {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  color: #c72525;
  text-align: center;
}
